@{
    ViewBag.Title = "Index";
}

<div ng-app="tickMapApp">
    <div ng-controller="TickMapController">
        <div class="map-search">
            <label>Location</label>

            <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="locationSearchResult" options="locationSearchOptions" longitude="searchLongitude" latitude="searchLatitude" />
            <label>Longitude: {{searchLongitude}}</label>
            <label>Lat: {{searchLatitude}}</label>
        </div>
        <h4>Map Start</h4>
        <google-map center="map.center" zoom="map.zoom">
            <layer namespace="visualization" type="HeatmapLayer" oncreated="map.heatLayerCallback"></layer>
        </google-map>
        <h4>Map End</h4>
    </div>

</div>
